.imgs_list {
	display: inline-block;
	padding: 10px 20px;
	border: dashed 2px #ddd;
	margin:20px 0;
}
.imgs_list p {
	display: inline-block;
	width: 200px;
	height: 200px;
	overflow: hidden;
	
}
.imgs_list p:hover img{
	transform : scale(1.2);
}

.imgs_list img{
	width: 200px;
	height: 200px;
transition: 0.3s ease-in-out; 
}

img.all {
	visibility: visible;
	display: inline-block;
}
.explain_span {
	font-weight: normal;
	color: #888;
	font-size: 13px;
	padding-left: 20px;
	text-decoration: underline;
}
.content_txt {
	padding-left: 20px;
	margin: 20px 0;
}
details{
	padding: 30px;
	width: 700px;
	margin: 0 auto;
}
.float_img {
	position: fixed;
	margin-left: 800px;
}
.float_img img {
	width: 50px;
}
#choose_list {
	margin: 20px 20px 10px;
}
