    body {
        background: url("../img/back.png") repeat;
    }
    header {
        background-color: #FCE5C6;
    }
    .mp_menu{
        padding: 10px 0;
    }
    .mp_menu li{
        float: left;
    }
    .mp_menu li a{
        display: block;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        text-align: center;
        width: 60px;
        padding:5px 0;
        background-color: #FD7776;
        margin:10px ;
    }
    #wrap {
        width: 1024px;
        margin:50px auto;
        /* background-color: #fff; */
    }
    .mp_list {
        padding:10px;
        padding-top: 20px;
        text-align: center;
        max-height : 150px;
        overflow-y: scroll;
    }
    .mp_list li{
        display: inline-block;
        width: 178px;
        height: 100px;
        margin: 5px;
        border: 3px solid #ddd;
        border-radius: 5px;
        /* background-color: #c1e5ff; */
        background-color: #22b14c;
        transition: .2s;
    }

    .mp_list li:nth-child(4n+1){
        background-color: #3189e2;
    }       
    .mp_list li:nth-child(4n+2){
        background-color: #fe7474;
    }   
    .mp_list li:nth-child(4n+3){
        background-color: #fad078;
    }   
    .mp_list li:hover{
         background-color:rgba(0,0,0,0.8);
    }
    .mp_list li a{
        display: block;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-weight: normal;
        font-size: 14px;
        line-height: 100px; 
        transition: .2s;
    }
 .mp_list li a span{
    text-overflow: clip;
    display: inline-block;
    white-space:nowrap;
 }    
    .mp_list li:hover a{
        font-weight: bold;
    }

    .title_content {
        background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(253,118,203, .8)) fixed;
        background-size: cover; 
        height: 100px;
        position: relative;
        padding-left: 30px;
    }
    #r_content {
        margin-top: 100px;
    }
    .main_content {
        background-color: #fff;
    }
    #r_content .title_content {
       background: linear-gradient(-45deg, rgba(9,15,107, .8), rgba(0,162,232, .8)) fixed;
   }

   .title_content h2{
    background-color: #F9E1C5;
    color: #579EEF;
    font-size: 50px;
    text-align: center;
    position: absolute;
    top: 9px;
    padding: 5px 40px;
    margin-left: 140px;
    text-shadow: 3px 3px 3px #fe7474;
}
#r_content .title_content h2{ 
 margin-left: 300px;
}

#float_nav {
    position: fixed;
    margin-left: -125px;
    top: 117px;

}
#float_nav nav {
    width: 100px;
    height: 300px;
    background: #f2f1f2;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
}
#float_nav a {
    text-decoration: none;
    color: #666;
    font-size: 20px;
    display: inline-block;
    width: 60px;
    height: 50px;
    border: 1px solid #888;
    margin-top: 30px;
    line-height: 50px;
    border-radius: 10px;
}
#float_nav li:first-child a{
   background-color: #ff6800;
   border-color: #ff6800;
   color: #fff;

}
#float_nav a:hover{
    background-color: #888;
    color: #fff;
}
